#application
server:
  port: 50600
  tomcat.threads.max: 20
  forward-headers-strategy: FRAMEWORK

#monitoring
management:
  endpoint:
    health:
      probes:
        enabled: true
      show-details: never
  endpoints:
    web:
      exposure:
        include: "health,prometheus,heapdump"

management.endpoint.health.probes.enabled: "true"

#openapi
springdoc.swagger-ui.path: /swagger-ui/index.html

#jaeger / zipkin
spring.application.name: catalog-batch-service
management.tracing.sampling.probability: "1.0"
logging.level.io.opentelemetry: "OFF"
management.otlp.tracing.endpoint: "http://localhost:4318/v1/traces"

#security
security.authentication.enabled: false
spring.security.user.name: "admin"
spring.security.user.password: "admin"

#persistence
spring.jpa.hibernate.ddl-auto: "none"
spring.datasource.url: jdbc:h2:mem:catalog;MODE=POSTGRESQL;DATABASE_TO_LOWER=TRUE;CASE_INSENSITIVE_IDENTIFIERS=TRUE
#spring.datasource.url: jdbc:postgresql://localhost:5432/postgres
spring.datasource.username: postgres
spring.datasource.password: postgres

spring.datasource.hikari.maximum-pool-size: "10"
spring.datasource.hikari.connection-timeout: "10000"

spring:
  flyway:
    schemas: catalog
    default-schema: catalog

  batch:
    job:
      enabled: false

    jdbc:
      initialize-schema: never
      table-prefix: catalog.BATCH_

database.provisioning.goals: "-import-catalog-data"

#mongo
spring.autoconfigure.exclude: ${mongodb.autoconfiguration}
spring.data.mongodb.uri: "mongodb://mongodb:mongodb@localhost:27017/catalog?authSource=admin"

mongodb.autoconfiguration: "org.springframework.boot.mongodb.autoconfigure.MongoAutoConfiguration, org.springframework.boot.data.mongodb.autoconfigure.MongoDataAutoConfiguration, org.springframework.boot.data.mongodb.autoconfigure.MongoRepositoriesAutoConfiguration"
jdbc.autoconfiguration: "org.springframework.boot.data.jdbc.autoconfigure.JdbcRepositoriesAutoConfiguration"

#logging
logging.level.root: "WARN"
logging.level.org.springframework: "INFO"

logging.level.org.goafabric: "INFO"
logging.level.org.flywaydb.core: "INFO"
logging.level.org.hibernate.SQL: "INFO"

springdoc.enable-kotlin: false #TODO