#application
server:
  port: 50600
  tomcat.threads.max: 20
  forward-headers-strategy: FRAMEWORK

#monitoring
management:
    endpoint:
      health:
        show-details: always
    endpoints:
      web:
        exposure:
          include: "health,prometheus,heapdump"

spring.cloud.consul.config.enabled: "false"

#openapi
springdoc.swagger-ui.path: /swagger-ui/index.html
springdoc.enable-native-support: "true"

#jaeger / zipkin
spring.application.name: catalog-service
management.tracing.sampling.probability: "1.0"
logging.level.io.opentelemetry: "OFF"
management.otlp.tracing.endpoint: "http://localhost:4318/v1/traces"

logging.level.zipkin2.reporter: "ERROR"
logging.level.io.opentelemetry.exporter: "ERROR"

#security
security.authentication.enabled: true
spring.security.user.name: "admin"
spring.security.user.password: "admin"

#persistence
spring.jpa.hibernate.ddl-auto: "none"
spring.datasource.url: jdbc:h2:mem:catalog;MODE=POSTGRESQL;DATABASE_TO_LOWER=TRUE;CASE_INSENSITIVE_IDENTIFIERS=TRUE
#spring.datasource.url: jdbc:postgresql://localhost:5432/postgres
spring.datasource.username: postgres
spring.datasource.password: postgres

spring.datasource.hikari.maximum-pool-size: "10"
spring.datasource.hikari.connection-timeout: "10000"

spring:
  flyway:
    schemas: catalog
    default-schema: catalog

#logging
logging.level.root: "WARN"
logging.level.org.springframework: "INFO"

logging.level.org.goafabric: "INFO"
logging.level.org.flywaydb.core: "INFO"
logging.level.org.hibernate.SQL: "INFO"

